{{ form_start(searchForm)}}
    <div class="form-group col-lg-6">

        {{ form_widget(searchForm, {'attr': {'placeholder':'search ...'}}) }}
        <button type="button" name="" id="" class="btn btn-primary btn-lg btn-block">Submit</button>
    </div>

    <div class="col-lg-3 col-md-2">
        <div class="woocommerce-topbar-ordering">
            <select id="s1" name="section" onchange="SelectRedirect();">
                <option value="0">All Courses</option>
                <option value="1">Recommended For you</option>
                <option value="2">Recent Courses</option>
            </select>
        </div>
    </div>
{{ form_end(searchForm)}}